.frame {
  position: relative;
  overflow: hidden;
  border-radius: var(--mantine-radius-sm);
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% / var(--board-canvas-ui-scale, 1));
  height: calc(100% / var(--board-canvas-ui-scale, 1));
  transform: scale(var(--board-canvas-ui-scale, 1));
  transform-origin: 0 0;
  border: none;
  background: none;
  background-color: transparent;
}
